.giftSort {
    width: 100%;
    max-width: 1024px;
    margin-top: 60px;
    margin-bottom: 16pt;    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: .9rem;
}

.priceFormGroup {
    margin-left: 8pt;
}

.giftGrid {
    width: 100%;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220pt, 1fr));
    grid-gap: 16pt;
    margin: 0 auto;
}

/* Mobile */
@media (max-width: 540px) {
    .giftSort {
        display: flex;
        flex-direction: column;
        margin: 24pt 0 8pt;
    }

    .giftSort > form {
        margin: 8pt;
    }
}
