.containerCarrousel {
    width: fit-content;
    padding: calc(var(--section-padding) / 2) 0;
}

.containerCarrousel h3 {
    font-size: 1.1rem;
}

.carrousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateX(0);
    transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

.carrouselItem {
    width: calc(100vw - var(--scrollbar-width));
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    max-width: 800px;
    padding: 30px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--card-shadow);
}

.message > p {
    margin-top: calc(var(--section-padding) / 3);
    color: #6b6b6b;
}

.carrouselController {
    background-color: var(--background-gray);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8pt;
    width: 100%;
    height: fit-content;
    padding-bottom: calc(var(--section-padding) / 2);
}

.carrouselButton {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    box-shadow: none;
    background-color: white;
    border: 2px solid #999;
    transition: 0.2s all linear;
}

.carrouselButton:hover {
    border: 5px solid #999;
}

.carrouselButtonActive {
    border: 5px solid black !important;
    cursor: default;
}

/* Mobile */
@media (max-width: 850px) {
    .carrousel {
        transition: 0.5s all ease-out;
        -o-transition: 0.5s all ease-out;
        -moz-transition: 0.5s all ease-out;
        -webkit-transition: 0.5s all ease-out;
    }
    
    .message {
        max-width: 300px;
    }
}