.location iframe {
    margin-top: calc(var(--default-title-margin) + 20px);
    width: 70vw;
    height: 40vw;
    border: 0;
}

/* Mobile */
@media (max-width: 480px) {
    .location {
        padding: var(--section-padding-mobile);
        white-space: nowrap;
    }

    .location h2 {
        margin-bottom: 20px;
    }

    .location iframe {
        width: 100%;
        height: 50vw;
    }
}