.counter {
    text-align: center;
    margin: 0 30px;
}

.counter > span {
    display: block;
}

.value {
    font-size: 40px;
}

.unity {
    font-size: 12px;
    font-weight: 100;
    position: relative;
    top: -5px;
}

@media (min-width: 500px) {
    .counter {
        margin: 0 30px;
    }
}

@media (max-width: 499px) {
    .counter {
        margin: 0 20px;
    }
}