.giftCard {
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--card-shadow);
}

.giftCard > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.giftInfo {
    width: 90%;
    margin: 10px auto 20px;
}

.giftInfo > h4 {
    font-weight: 500;
    min-height: 43px;
}

.price {
    font-size: 1.1rem;
    margin: 16pt 0 8pt;
}

.currency {
    margin-right: .3rem;
    vertical-align: super;
}

.priceInt {
    font-size: 200%;
    font-weight: 700;
}

.priceDec {
    font-weight: 700;
}
