.timer {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    margin: 4vh 0;
}

@media (min-width: 1130px) {
    .timer {
        margin: 0 4vw;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .timer {
        margin: 1.5vh 4vw;
    }
}

/* Tablet */
@media (min-width: 802px) and (max-width: 1024px) {
    .timer {
        margin: 1.5vh 4vw;
    }
}